/* OPEN - Reponse buttons */
.vfrc-system-response--actions .vfrc-button {
  background-color: #F9F5EE !important;
  border-color: #F9F5EE !important;
  color: #868a91 !important; /* button text */
}

/* Optioneel: hover-effect */
.vfrc-system-response--actions .vfrc-button:hover {
  background-color: #e8e3dc !important;
  border-color: #e8e3dc !important;
}
/* CLOSE - Reponse buttons */


/* OPEN - Zorg dat afbeeldingen zich aanpassen in plaats van afgesneden worden */ 
.vfrc-carousel img { object-fit: contain !important; 
} 

/* CLOSE - Afbeelding formaat */
