/* OPEN - Reponse buttons */
.vfrc-system-response--actions .vfrc-button {
  background-color: #F9F5EE !important;
  border-color: #F9F5EE !important;
  color: #F1F2F2 !important; /* button text */
}

/* Optioneel: hover-effect */
.vfrc-system-response--actions .vfrc-button:hover {
  background-color: #e8e3dc !important;
  border-color: #e8e3dc !important;
}
/* CLOSE - Reponse buttons */
