/* OPEN - Reponse buttons */
.vfrc-system-response--actions .vfrc-button {
  background-color: #F4F4F4 !important;
  border-color: #F4F4F4 !important;
  color: #868a91 !important; /* button text */
}

/* Optioneel: hover-effect */
.vfrc-system-response--actions .vfrc-button:hover {
  background-color: #E0E0E0 !important;
  border-color: #E0E0E0 !important;
}
/* CLOSE - Reponse buttons */


/* OPEN - Zorg dat afbeeldingen zich aanpassen in plaats van afgesneden worden */ 
.vfrc-carousel img { 
  object-fit: contain !important; 
} 
/* CLOSE - Afbeelding formaat */


/* OPEN - HEADER COLOR */
.vfrc-header {
  background-color: #000000 !important;
}
/* CLOSE - HEADER */


/* OPEN - VRF LAUNCHER */
.vfrc-launcher {
  background: #000000 !important;
  color: #ffffff !important; /* icoon/tekst wit */
  border: 2px solid #ffffff !important; /* witte rand */
}
/* CLOSE - VRF LAUNCHER */






